<section id="about">
    <div id= 'about-spacing'>
    <div id="left"><h3 id="cto">With US, your data belongs <br>to you, not tech companies, gov-<br>ernments, or hackers</h3>
            <p id="info">Our encrypted services help you fight for a better <br> internet that is secure and private by default.</p>
            <button id="start" class="btn">Send Mail Now</button>
    
    </div>
    <div><img id="mail-stuff" src="https://images.prismic.io/proton-me/ab891b12-f8c3-4b09-93d3-1d7225228f66_secure-encrypted-services-for-privacy.png?ixlib=gatsbyFP&auto=compress%2Cformat&fit=max&max-width=960&w=960&h=872"></div>
</div>
</section>