
    <main class="main">
        <div id="mainContent">
        <h4 id="maildepot" class="motto" >Mail Depot Is Privacy by Default</h4>
        <h1 class="motto">Welcome to a Place <br>where privacy and freedom <br> comes first</h1>
        <button id="sendmail" class="btn">Send Mail</button>
    </div>
    </main>