<header id="Sticky">
    <nav>
        <div id="spacing">
        <div><h3 id="brand-name">Mail-Depot</h3></div>
        <div id="nav-items">
            <ul>
                <a id="nav-links" href="#">Home</a>
                <a id="nav-links" href="#">Pricing</a>
                <a id="nav-links" href="#">About Us</a> 
                <a id="nav-links" href="#">Contact-Us</a> 
            </ul>
        </div>
        <div id="sign-in">
            <button class="btn" id="oldacc">sign in</button>
            <button class="btn" id="newacc">Create a new Account</button>
        </div>
    </div>
    </nav>
</header>