

<section>
    <div>
        <h2>Pricing</h2>
    </div>

    <div id="tables">
        <div>
            <h3>Free</h3>
        </div>
        <div>
            <h3>Premium</h3>
        </div>
       
    </div>
</section>