<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
<%- include('./partials/nav.ejs') %> 
<%- include('./partials/main.ejs') %> 
<%- include('./partials/pricing.ejs') %> 
</body>
</html>